<% if flash[:notice] %>
  <div id="notice" style="color: green;">
    <%= flash[:notice] %>
  </div>
  
<% elsif flash[:alert] %>
  <div id="alert" style="color: red;">
    <%= flash[:alert] %>
  </div>
<% end %>


<!-- エラー表示部分 -->
<% if @book.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h3>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>



<h3>Editing Book</h3>

<%= form_with(model: @book, local: true) do |form| %>
  <p>
    <strong>Title</strong><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <strong>Body</strong><br>
    <%= form.text_area :body %>
  </p>

  <p>
    <%= form.submit 'Update Book' %>
  </p>
<% end %>

<%= link_to 'Show', book_path(@book) %> |
<%= link_to 'Back', books_path %>